// images
.logo {
  max-height: 60px;
  padding: 2px;
}

.team-avatar {
  background-image: url(footer_lodyas.png);
  border-radius: 50%;
  display: block;
  height: auto;
  margin: auto;
  max-width: 215px;
  padding: 15px;
}

// containers
.container {
  background-color: $cobalt;
  filter: $dark-shadow-heavy;
}

.jumbo-heading {
  position: relative;
  top: -93px;
  left: 20px;
  height: 20px;
  font-family: $header-font-family;
  font-size: 80px;
  color: $light;
  text-align: left;
  margin-bottom: 0;
  padding-left: 10px;
  transform-origin: bottom;
  // filter: $dark-shadow-top;
  z-index: 2;
    @include media-query($on-palm) {
      font-size: 64px;
      top: -77px;
    }
  }

.main-container  {
  padding-top: 95px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10px;
  .lg {
    padding-top: 25px;
  }
}


.section-container {
  background: $grey-color-light;
  border-top: 10px solid $light;
  h3 {
    text-transform: uppercase;
    color: $contrast;
    margin-bottom: 0;
    top: -12px;
    position: relative;
    vertical-align: middle;
    @include media-query($on-palm) {
      font-size: 16px;
      padding: 0 10px;
    }
  }
} 

.team {
  background: $grey-color-light;
  border: 5pt solid $light;
  border-top: 10pt solid $light;
  border-bottom: 10pt solid $light;
  padding: 20px;
}


// parallax
.parallax-header { 
 /* Set a specific height */
    height: 375px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    // padding: 10px;
    vertical-align: middle;
    @media (min-width: 50em) {
    background-position: center top;
      // height: 150px; 
    padding: 10px 10px 0px 10px;
  }
}
@media only screen and (max-device-width: 1024px) {
    .parallax-header {
        background-attachment: scroll;
    }
}

.parallax-txt {
  color: $light;
  h1 {
    font-family: $header-font-family;
    line-height: $base-line-height * .75;
    text-align: left;
  }
  h3 {
  font-family: $base-font-family;
  }
  @media (min-width: 50em) {
    h1 {
      font-size: $base-font-size * 2;  
      padding-top: 40px;
    }
    h3 {
      font-size: $base-font-size * 1.5;
    }
  }
}

// parallax images
.abstract {
  background-image: url("abstract.png");
}

.sad-eyed-pup {
  background-image: url("sad-eyed-pup.png");
}
.cat-1 {
  background-image: url("simone-dalmeri-114593.jpg");
}
