.intro-container {
  background: url(subtle_zebra_3d.png);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 80px;
  padding-bottom: 5%;
  h1 {
    text-align: center;
  }
}

.team {
  background: teal;
  border: 1pt solid black;
}