h1 {
  text-align: center;
}

.intro-container {
  background: url(subtle_zebra_3d.png);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 80px;
  padding-bottom: 5%;
}

.team {
  background: $grey-color-light;
  border: 10pt solid $light;
  padding: 20px;
}

.team-avatar {
  border-radius: 50%;
  background-image: url(diamond_upholstery.png);
  max-width: 250px;
  margin: auto;
  display: block;
}