h1 {
  color: $contrast;
  font-size: $base-font-size * 3;
  font-family: $header-font-family;
}

h3 {
  font-size: $base-font-size * 2.5;
}

.container {
  background-color: $cobalt;
  filter: drop-shadow(2px 8px 8px $dark);
}

.intro-container {
  background: url(subtle_zebra_3d.png);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 80px;
  padding-bottom: 10px;
  filter: drop-shadow(2px 8px 8px $dark);
}

.team-container {
    margin: 0 5px;
      background: $grey-color-light;
    // border-width: 10px 5px;
} 

.team {
  background: $grey-color-light;
  border: 5pt solid $light;
  border-top: 10pt solid $light;
  border-bottom: 10pt solid $light;
  padding: 20px;
}

.team-avatar {
  border-radius: 50%;
  background-image: url(diamond_upholstery.png);
  max-width: 200px;
  margin: auto;
  display: block;
}

.parallax { 
 /* Set a specific height */
    height: 400px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    }

.parallax-txt {
  // filter: drop-shadow(2px 8px 8px $light);
  h1, h3 {
  // font-weight: 800;
  color: $light;
  }
}

.sad-eyed-pup {
  background-image: url("sad-eyed-pup.png");
}
.cat-1 {
  background-image: url("simone-dalmeri-114593.jpg");
}
