@import "media";
/**
 * Site header
 */
.site-header {
  // border-top: 2px solid $contrast;
  background-color: $cobalt;
  height: 70px;
  padding: 5px;
  padding-left: 1%;
  padding-right: 1%;
  width: 100%;
  // Positioning context for the mobile navigation icon
  position: fixed;
  // box-shadow: 0 0 0 90px rgba(255,255,255,0.2);
  box-shadow: 1px 1px 1px 2px $cobalt;
  vertical-align: middle;
  z-index: 1;
  @include media-query($on-palm) {
    position: absolute;
  }
}

// #header_nav {
//   width:100%;
//   height:100px;
//   background-color:#666;
//   position:fixed;
//   top:0;
//   left:0;
// }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $light;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $contrast;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: $spacing-unit;
    right: $spacing-unit / 2;
    color: $contrast;
    background-color: $dark;
    opacity: 0.7;
    // border: 1px solid $cobalt-light;
    // border-radius: 5px;
    text-align: right;
    box-shadow: 1px 1px 1px 2px $cobalt;

    .menu-icon {
      border: none;
      display: block;
      float: right;
      // width: 90%;
      // height: 90%;
      line-height: 0;
      // padding: 10px;
      text-align: center;

      > svg path {
        fill: $contrast;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}





/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.gradient {
  background: linear-gradient($grey-color, #fff);
}
.post-meta {
  font-size: $small-font-size;
  color: $cobalt;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}


