@import "media";

.toggle-details {
    background-color: $cobalt;
    display: none;
    padding: 10px;
}

.mobile {
    padding: 5px;
    clear: both;
}

@media #{$medium-and-up} {
    #show-1 .mobile {
        display:block;
    }
    #show-1 {
        display:none;
    }
}

    // trying to work out how to slide down in the right place on mobile
.vertical-title {
    background-color: $contrast;
    font-size: 3em;
    // height: 100%
    padding: 15px;
    text-align: center;
    transform: rotate(180deg);
    vertical-align: middle;
    // width: 1.5em;
    writing-mode: tb-rl;
}
@media #{$medium-and-down} {
    .vertical-title {
    background-color: $contrast;
    font-size: 2em;
    padding: 0px;
    transform: none;
    vertical-align: center;
    writing-mode: initial;
    }
}
.product-content {
    background-image: url("diamond_upholstery.png");
    padding: 5%;
    // width: 40%;
    clear: right;
    // float: left;
        h3 {
        font-family: $header-font-family;   
        font-size: $base-font-size * 1.5;
        color: $contrast;
        font-weight: 600;
        }
        h5 {
        font-family: $base-font-family;   
        font-size: $base-font-size * 1;
        color: $cobalt;
        text-transform: uppercase;
        }
        p {
        line-height: $base-line-height * 1.1;
        margin-bottom: 1em;
        }
}

.product-image {
    // background-image: url("img1.jpg");
    // height: 500px;
    // padding-left: 5%;
    // vertical-align: middle;
    width: auto;
}

// .product-container {
    // box-shadow: 3px 3px 5px 20px $dark;
// }

h2 {
    font-size: $base-font-size;
    text-transform: uppercase;
}


// @media screen and (max-width: 50em) {
// 	.toggle-details {
//         flex-flow: row wrap;
// 		// display: inline-block;
//         margin: 10px auto;
// 		width: 100%;
// 	}
// 	// .grid figure {
// 	// 	display: inline-block;
// 	// 	// float: none;
// 	// 	margin: 10px auto;
// 	// 	width: 100%;
// 	// }
// }

