<div class="grid">
<div class="container">

  <div class="col span-4-d span-6-t">
    <figure id="product-1" class="effect-ming">
      <img src="/assets/img3.jpg" alt="img3"/>
      <figcaption>
        <h2>the<span>original</span></h2>
        <p>Each and every friend is special. ming won't hide a single cookie.</p>
        <p><i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i></p>
        <a href="#product-1"></a>
      </figcaption>		
    </figure>
  </div>

  <div id="product-1-sm" class="product-grid-btns"><h2>the<span>original</span></h2></div>
  <div class="toggle-details-sm">{% include product-1.html %}</div>

  <div class="col span-4-d span-6-t">
    <figure id="product-2" class="effect-ming">
      <img src="/assets/anklet.jpg" alt="anklet"/>
      <figcaption>
        <h2>ank<span>let</span></h2>
        <p>Each and every friend is special. ming won't hide a single cookie.</p>
        <a href="#">View more</a>
      </figcaption>			
    </figure>
  </div>

  <div class="col span-4-d span-6-t">
    <figure id="product-3" class="effect-ming">
      <img src="/assets/earstud.jpg" alt="earstud"/>
      <figcaption>
        <h2>ear<span>stud</span></h2>
        <p>Each and every friend is special. ming won't hide a single cookie.</p>
        <a href="#">View more</a>
      </figcaption>			
    </figure>
  </div>

<div id="show-1" class="toggle-details">{% include product-1.html %}</div>
<div id="show-1-sm" class="toggle-details-sm">{% include product-1.html %}</div>

  <div id="show-2" class="toggle-details">two</div>
  <div id="show-3" class="toggle-details">three</div>
  <div id="show-4" class="toggle-details">four</div>
  <div id="show-5" class="toggle-details">five</div>
  <div id="show-6" class="toggle-details">six</div>

  <div class="col span-4-d span-6-t">
    <figure class="effect-ming">
      <img src="/assets/img12.jpg" alt="img12"/>
      <figcaption>
        <h2>dia<span>gram</span></h2>
        <p>Each and every friend is special. ming won't hide a single cookie.</p>
        <a href="#">View more</a>
      </figcaption>			
    </figure>
  </div>

  <div class="col span-4-d span-6-t">
    <figure class="effect-ming">
      <img src="/assets/img12.jpg" alt="img12"/>
      <figcaption>
        <h2>the <span>algorithm</span></h2>
        <p>Each and every friend is special. ming won't hide a single cookie.</p>
        <a href="#">View more</a>
      </figcaption>			
    </figure>
  </div>

  <div class="col span-4-d span-6-t">
    <figure class="effect-ming">
      <img src="/assets/img12.jpg" alt="img12"/>
      <figcaption>
        <h2>the <span>app</span></h2>
        <p>Each and every friend is special. ming won't hide a single cookie.</p>
        <a href="#">View more</a>
      </figcaption>			
    </figure>
  </div>

</div>
</div>
