<div class="intro-container">
  <!--<div class="wrapper">-->

<!--
  <div class="section-inner">
		
		<div class="master-head">-->
			<h1>Welcome</h1>
        <!--<div class="icon-svg">
          {% include cutebit-icon.svg %}
        </div>-->
			<p class="page-description">Cat ipsum dolor sit amet, need to chase tail. Plan steps for world domination swat at dog meow for food, then when human fills food dish, take a few bites of food and continue meowing gifts, for peer out window, chatter at birds, lure them to mouth.</p>
			<!--<p class="scroll-button" onClick="$('.post-wrapper .post:first-child .stem-overlay .icon').click();">Begin</p>-->
		<!--</div>-->
			
	<!--</div>  section-inner -->

  <!--</div>-->
</div>