<div class="product-container">

  <div class="wrapper">

    <div id="title-1" class="vertical-title">the original</div>
    <div class="product-content">
      <h3>This should be about this long or a little longer</h3>
      <h5>headline</h5>
      <p>Eat a plant, kill a hand eat and than sleep. Food! Say meow meow meow until belly rubs, feels good.</p>
      <p>Eat a plant, kill a hand eat and than sleep. Food! Say meow meow meow until belly rubs, feels good.</>
      <p>Eat a plant, kill a hand eat and than sleep. Food! Say meow meow meow until belly rubs, feels good.</p>
    </div>

    <div class="product-image">
      <!--<div id="btn-close" class="btn-close">close</div>-->
      <img src="/assets/img3.jpg" alt="dog-1">
    </div>

  </div>

</div>