<div class="container">
  <div class="col span-4-d span-6-t team">
    <img src="/assets/jamie.png" alt="Jamie Avatar" class="team-avatar">
    <h1>Developer Jamie</h1>
    <p>Cat ipsum dolor sit amet, need to chase tail. Plan steps for world domination swat at dog meow for food, then when human fills food dish, take a few bites of food.</p>
    <p>Continue meowing gifts, for peer out window, chatter at birds, lure them to mouth.</p>
  </div>

  <div class="col span-4-d span-6-t team">
    <img src="/assets/jamie.png" alt="Jamie Avatar" class="team-avatar">
    <h1>Designer Jamie</h1>
    <p>Cat ipsum dolor sit amet, need to chase tail. Plan steps for world domination swat at dog meow for food, then when human fills food dish, take a few bites of food.</p>
    <p>Continue meowing gifts, for peer out window, chatter at birds, lure them to mouth.</p>
  </div>

  <div class="col span-4-d span-6-t team">
    <img src="/assets/jamie.png" alt="Jamie Avatar" class="team-avatar">
    <h1>Writer Jamie</h1>
    <p>Cat ipsum dolor sit amet, need to chase tail. Plan steps for world domination swat at dog meow for food, then when human fills food dish, take a few bites of food.</p>
    <p>Continue meowing gifts, for peer out window, chatter at birds, lure them to mouth.</p>
  </div>
</div>