---
---
// @charset "utf-8";

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

// * {
//     border: 1pt solid red;
// }

// Our variables
$base-font-family: 'Fira Sans', sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$header-font-family: 'Comfortaa', cursive !default;

$spacing-unit:     10px !default;

$dark:       #111 !default;
$light:      #fdfdfd !default;
$contrast:   #008390 !default;
$tomato: #9E2800 !default;
$granny-smith: #449130 !default;

// shadow
$dark-shadow-heavy: drop-shadow(2px 8px 8px $dark);
$dark-shadow-top: drop-shadow(2px -8px 8px $dark);
// $spacing-unit:     30px;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 45%);
$grey-color-dark:  darken($grey-color, 25%);
$cobalt:       #080C1D !default;
$cobalt-light: lighten($contrast, 60%) !default;
$cobalt-dark:  darken($contrast, 25%) !default;

// Width of the content area
$content-width:    1000px;
$on-palm:          600px;
$on-laptop:        800px;

// theme-1 also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }



// Import partials f
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
// Import partials.
@import
  "theme-1/base",
  "theme-1/layout",
  "theme-1/syntax-highlighting",
  "theme-1/product",
  "theme-1/media",
  "theme-1/grid",
  "theme-1/details",
  "theme-1/animate",
  "theme-1/general",
  "theme-1/trg",
  "theme-1/footer"
;