---
layout: base
---

<div class="home">

<div id="draggable" class="box1"><h1 class="animated bounce">Product</h1></div>

<div class="content">
  <div class="grid">
    <figure class="effect-ming">
      <img src="/assets/img3.jpg" alt="img3"/>
      <figcaption>
        <h2>the<span>original</span></h2>
        <p>Each and every friend is special. ming won't hide a single cookie.</p>
        <a href="#">View more</a>
      </figcaption>			
    </figure>
    <figure class="effect-ming">
      <img src="/assets/img12-orange.png" alt="img12"/>
      <figcaption>
        <h2>ank<span>let</span></h2>
        <p>Each and every friend is special. ming won't hide a single cookie.</p>
        <a href="#">View more</a>
      </figcaption>			
    </figure>
    <figure class="effect-ming">
      <img src="/assets/img12.jpg" alt="img12"/>
      <figcaption>
        <h2>ear<span>stud</span></h2>
        <p>Each and every friend is special. ming won't hide a single cookie.</p>
        <a href="#">View more</a>
      </figcaption>			
    </figure>
  </div>
    <div class="grid">
    <figure class="effect-ming">
      <img src="/assets/img12.jpg" alt="img12"/>
      <figcaption>
        <h2>dia<span>gram</span></h2>
        <p>Each and every friend is special. ming won't hide a single cookie.</p>
        <a href="#">View more</a>
      </figcaption>			
    </figure>
    <figure class="effect-ming">
      <img src="/assets/img12.jpg" alt="img12"/>
      <figcaption>
        <h2>the <span>algorithm</span></h2>
        <p>Each and every friend is special. ming won't hide a single cookie.</p>
        <a href="#">View more</a>
      </figcaption>			
    </figure>
    <figure class="effect-ming">
      <img src="/assets/img12.jpg" alt="img12"/>
      <figcaption>
        <h2>the <span>app</span></h2>
        <p>Each and every friend is special. ming won't hide a single cookie.</p>
        <a href="#">View more</a>
      </figcaption>			
    </figure>
  </div>
</div>

   {% include team.html %}